<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Reaching out:</h2>

                <hr class="primary">

                <p>Do you represent an NGO that could benefit from FriquiFund? Are you a philanthropist and want to join us?. Email us and we'll get back to you real soon.</p>

                <hr class="primary">

                <div class="row">

 
    
                <div class="text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                </div>


                <div class="col-md-1 col-md-offset-1 text-center"></div>
                <div class="col-md-1 col-md-offset-1 text-center"></div>
                <div class="col-md-1 col-md-offset-1 text-center"></div>
                <div class="col-md-1 col-md-offset-1 text-center"></div>
                <div class="col-md-1 col-md-offset-1 text-center"></div>
                <div class="col-md-1 col-md-offset-1 text-center"></div>
               
                </div>

            </div>
    


        </div>
    </div>


</section>
