<!doctype html>
<html lang="en">

{% include head.html %}
{% include scripts.html %}

   <style>
      body {
        background-color: #282828;
      }
          h2{
        color: #f05f40 ;
        font-size: 25px;
        }
            h1{
        color: #f05f40 ;
        font-size: 36px;
        }
              p{
        color: #ffffff ;
        font-size: 14px;
        }
    </style>
  
  
  <body>
    
 <a href="/index.html">
         <img alt="friquifund" src="/img/logo_friquifund2.png">
      </a>
    <hr>
     
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
               {{ content }}
            </div>
        </div>
    </div>   
     
     
  
    <footer>     
        <hr>
    </footer>
  </body>
</html>
