<!doctype html>
<html lang="en">

{% include head.html %}
{% include scripts.html %}
  
   <style>
      body {
        background-color: #282828;
      }
          h2{
        color: #ff8c00 ;
        font-size: 25px;
        }
            h1{
        color: #ff8c00 ;
        font-size: 36px;
        }
              p{
        color: #ffffff ;
        font-size: 14px;
        }
    </style>
  <body>
    
 <a href="https://friquifund.ml/">
         <img alt="friquifund" src="/img/logo_friquifund.png">
      </a>
    <hr>
      <h3> Our members' list. Care to join us? </h3>
      {% include memberslist.html %}
    <footer>     
        <hr>
    </footer>
  </body>
</html>
