<!DOCTYPE html>
<html lang="en">
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

{% include head.html %}
  
  
<body>
# Here comes the sun, durun-durun

<table>
    <tr>
    <th>Name</th>
    <th>Purpose</th>
    <th>Badge</th>     
  </tr>
  
  
{% for member in site.data.members %}
    <tr>
      <td>{{ member.name }}</td>
      <td>{{ member.purpose }}</td>
      <td>
        <div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="{{member.lnkdnuser}}" data-version="v1"><a class="badge-base__link LI-simple-link" href="{{member.badgelink}}">{{member.name}}</a></div>
       /td>
    </tr>
{% endfor %}
</table>
</body>

</html>


