<!DOCTYPE html>
<html lang="es">

{% include head.html %}
{% include scripts.html %}
    
    
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/logo_friquifund2.png" alt="friquifund">
            <hr>
            <p>test, delete line </p>
          {{ content }}
        </div>
    </div>
</header>
    

<body>
    
  <!---
   <a href="https://friquifund.ml/">
         <img alt="friquifund" src="/img/logo_friquifund.png">
      </a>
  
      <div class="content">
      {{ content }}
    </div>

--->

</body>

</html>
